@model WebUI.ViewModels.Account.AccountTransactionsViewModel

<link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div class="account-container">
        @*<a class="btn-pagination" data-ajax-method="get" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#TransactionList" asp-route-accountid=@Model.Account.AccountId asp-route-amount="50" asp-route-pagenr="0" data-ajax-loading="#spinner" role="button">Load transactions</a>*@
        
        <div id="TransactionList">
            <partial name="_TransactionListPartial" model=@Model />
        </div>
</div>