@model BankApp.Application.DtoObjects.CustomerDto

@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>CreateCustomer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Givenname" class="control-label"></label>
                <input asp-for="Givenname" class="form-control" />
                <span asp-validation-for="Givenname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Streetaddress" class="control-label"></label>
                <input asp-for="Streetaddress" class="form-control" />
                <span asp-validation-for="Streetaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalId" class="control-label"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephonecountrycode" class="control-label"></label>
                <input asp-for="Telephonecountrycode" class="form-control" />
                <span asp-validation-for="Telephonecountrycode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephonenumber" class="control-label"></label>
                <input asp-for="Telephonenumber" class="form-control" />
                <span asp-validation-for="Telephonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emailaddress" class="control-label"></label>
                <input asp-for="Emailaddress" class="form-control" />
                <span asp-validation-for="Emailaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

