<footer>
    <div class="sitemap">
        <div>
            <a asp-action="Privacy" asp-controller="Home">Privacy</a>
            <a asp-action="#" asp-controller="#">Accounts</a>
            <a asp-action="#" asp-controller="#">Transactions</a>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2019 - Citadel</p>
    </div>
    <div class="socialmedia">
        <div>
            <a class="twitter" href="#">Twitter</a>
            <a class="facebook" href="#">Facebook</a>
            <a class="blog" href="#">Blog</a>
        </div>
    </div>
</footer>