@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav flex-grow-1">
        <a class="btn" asp-controller="Account" asp-action="Logout">Logout</a>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <a class="btn" asp-controller="Account" asp-action="Login">Sign in</a>
    </ul>

}