<header>
    <nav class="navbar">
        <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Citadel</a>
        </div>
        <div class="navbar-login">
            <a class="btn-login" asp-action="Login" asp-controller="Account">Login</a>
        </div>
    </nav>
</header>