
@{
    ViewData["Title"] = "CashierPanel";
}

<div class="cashier-controller">
    <a asp-action="Deposit" asp-controller="Cashier">Deposit Menu</a>
    <a asp-action="Withdraw" asp-controller="Cashier">Withdraw Menu</a>
    <a asp-action="Transfer" asp-controller="Cashier">Transfer Menu</a>
    <a asp-action="ApplyInterest" asp-controller="Cashier">Interest Menu</a>
</div>