@model WebUI.ViewModels.Account.TransferViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div class="transfer-container">
    <form method="post" asp-action="Transfer" asp-controller="Cashier">
        <div class="transfer-section">
            <div class="form-group">
                <label asp-for="AccountIdSender">AccountId</label>
                <input asp-for="AccountIdSender">
            </div>
        </div>

        <div class="transfer-section">
            <div class="form-group">
                <label asp-for="AccountIdReciever">AccountId</label>
                <input asp-for="AccountIdReciever">
            </div>

            <div class="form-group">
                <label asp-for="Amount">Amount</label>
                <input asp-for="Amount">
            </div>

        </div>
        <input type="submit" value="Transfer" />
    </form>
</div>