@model WebUI.ViewModels.Account.TransferViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

@if (TempData["failure"] != null)
{
    <div style="width:100%; background:#f8d7da; border:1px solid #f5c6cb; border-radius:.25em; padding:1em;">@TempData["failure"].ToString()</div>
}

<div class="transfer-container">
    <form method="post" asp-action="Transfer" asp-controller="Cashier">
        <div class="transfer-section">
            <div class="form-group">
                <label asp-for="AccountIdSender">AccountId</label>
                <input type="number" asp-for="AccountIdSender">
                <span asp-validation-for="AccountIdSender" class="text-danger"></span>
            </div>
        </div>

        <div class="transfer-section">
            <div class="form-group">
                <label asp-for="AccountIdReciever">AccountId</label>
                <input type="number" asp-for="AccountIdReciever">
                <span asp-validation-for="AccountIdReciever" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount">Amount</label>
                <input asp-for="Amount">
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" value="Transfer" />
    </form>
</div>